langchain
python-dotenv
ipykernel
langchain_community
pypdf
# bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-groq
# beautifulsoup4
faiss-cpu
sentence-transformers
streamlit
fastapi
# uvicorn
langserve
langchain-chroma
langchain_huggingface
langchain-classic
groq
wikipedia
hf_xet
tqdm
PyPDF2
